<div class="category" >
  <h2 class="font-effect-outline" id="new-category-title">Edit User</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="form-outline mb-4">
      <%= f.label 'Profile picture', style: "color: sandybrown; font-family: 'Kalam', sans-serif;" %>
      <%= f.file_field :profile_picture, {:class => "form-control", :id => "text-field"} %> </div>
    <br>
    <div class="form-outline mb-4">
      <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email", autocomplete: "email", id: "text-field"%>
    </div>
    <br>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <div class="form-outline mb-4">
      <%= f.text_field :first_name, class: "form-control", placeholder: "First Name", id: "text-field"%>
    </div>
    <br>
    <div class="form-outline mb-4">
      <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name", id: "text-field"%>
    </div>
    <br>
    <div class="form-outline mb-4">
      <%= f.text_field :phone_number, class: "form-control", placeholder: "Phone Number", id: "text-field"%>
    </div>
    <br>
    <div class="form-outline mb-4">
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: "Current Password", id: "text-field" %>
    </div>
    <br>
    <div class="form-outline mb-4">
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "New password", id: "text-field" %>
    </div>
    <br>
    <div class="form-outline mb-4">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Password Confirmation", id: "text-field" %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "Update", class: "btn btn-info btn-block mb-4" %>
    </div>
  <% end %>

  <br>
  <h3 class="font-effect-emboss" id="new-category-title">Cancel my account</h3>

  <div style="text-align:center;">
    <span style="font-family: 'Sofia', sans-serif; font-size: 25px;">Unhappy?</span> 
    <br>
    <%= link_to "Cancel my account", registration_path(resource_name), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-danger", id: "back-button"  %>
  <div>
  <br><br>
  <%= link_to "Back", :back, class: "btn btn-warning", style: "float: left;" %>

</div>