<section class="vh-100" style="background-color: #E6BE8A;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
                <%= image_tag("perfum.jpg", alt: "perfume",class:"img-fluid", id: "card-image") %>      
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                  <%= image_tag("logo-white.png", alt: "logo", id: "card-logo") %>
                
                  <h5 class="fw-normal mb-3 pb-3" id="card-title">Sign up for an account</h5>

                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg", id: "form2Example17"%>
                    <%= f.label :email, class: "form-label", for:"form2Example17" %>
                  </div>

                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <%= f.password_field :password, autocomplete: "new-password", type: "password", id: "form2Example27", class: "form-control form-control-lg"%>
                    <%= f.label :password, class: "form-label", for: "form2Example27" %>
                    <% if @minimum_password_length %>
                    <em style="padding-left: 180px;">(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %>
                  </div>

                  <!-- Reset Password input -->
                  <div class="form-outline mb-4">
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", type: "password", id: "form2Example27", class: "form-control form-control-lg"%>
                    <%= f.label :password_confirmation, class: "form-label", for: "form2Example27" %>
                  </div>

                  <!-- Submit button -->
                  <div class="pt-1 mb-4">
                    <%= f.submit "Sign up", type:"submit", class:"btn btn-dark btn-lg btn-block" %>
                  </div>

                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Already have an account? 
                    <%= link_to "Login here", user_session_path, method: :post , style: "color: grey;"%> 
                  </p>
                <% end %>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>