<div class="container mt-5">
  <h2 style="color: #996515; text-align: center; font-family: 'Satisfy', cursive; font-weight: bold; font-size: 50px;">Orders</h2>
  <br>
  <%= render partial: 'filter_menu' %>
  <br>
  <%== pagy_info(@pagy) %>
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">User</th>
        <th scope="col">Status</th>
        <th scope="col">Tracking Number</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.user.email %></td>
          <td><%= order.status %></td>
          <td><%= order.tracking_number %></td>

            <% if current_user.present? && current_user.admin? %>
              <td><%= link_to 'Show', order, class: "btn btn-primary btn-sm", style: "margin:1px;" %>
              <% if order.status == "not shipped" %>
                <%= link_to 'Ship Now', edit_order_path(order), class: "btn btn-success btn-sm", style: "margin:1px;" %> 
                <%= link_to 'Destroy', order, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm", style: "margin:1px;" %>
              <% end %>
            <% elsif  current_user.present? && !current_user.admin?%>
              <td><%= link_to 'Show', order, class: "gold-button-without-underline", style: "padding:3px; color: black; font-family: 'Sofia', cursive;" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%== pagy_nav(@pagy) if @pagy.pages > 1%>
</div>
