<p style="color: green"><%= notice %></p>

<div style="margin-left: 10%; margin-right: 10%;">

  <h1>Order #<%= @order.id %></h1>
  <div style="font-size: 17px;">
    <div style="display: block;">
      <p class="mb-0" style="display: inline;">User: </p><p style="display: inline; font-weight: 700;"><%= @order.user.first_name + " " + @order.user.last_name %></p>
    </div>
    <div style="display: block;">
      <p class="mb-0" style="display: inline;">Tracking Number:</p><p style="display: inline; font-weight: 700;"><%= @order.tracking_number %></p>
    </div>
    <div style="display: block;">
      <p class="mb-0" style="display: inline;">Status: </p><p style="display: inline; font-weight: 700;"><%= @order.status %></p>
    </div>
  </div>
  <br>
  <%= render partial: 'ordered_products' %>
  <h2 style="float:right; font-family: 'Lobster', sans-serif;"> Total: €<%= @order.total %> </h2>
  <br><br><br>
  <% if current_user.admin? %>
    <%= link_to 'Edit', edit_order_path(@order) %> |
  <% end %>
  <%= link_to 'Back To Orders', orders_path, class: "gold-button", style: "color: black; text-decoration-color: #C09040; padding: 6px;" %>

</div>