<p style="color: green"><%= notice %></p>

<div>

  <h1 class="shadow-text" style="margin-top: 35px; margin-bottom: 50px;">
    <%= image_tag('shopping-bag.png', alt: 'cart', id: 'cart', style: "height: 50px; margin-bottom: 10px;") %>
    Shopping cart
  </h1>

  <% if @cart.orderables.present? %>
    <div style="margin-left: 10%; margin-right: 10%;">
        <%= render "orderables" %>
    </div>
    <h1 style="float:right; margin-right: 10%; font-family: 'Lobster', sans-serif;"> Total: €<%= @cart.total %> </h1>
    <br><br><br>
    <%= button_to 'PLACE ORDER', orders_path(order: { user_id: current_user.id }), 
                            data: {turbo_method: :post, turbo_confirm: "Are you sure you want to order?"}, class: "order-button"%>
  <% else %>
    <p style="text-align: center;">
      <%= image_tag('empty-cart-gold.png', alt: 'cart', id: 'cart', style: "height: 500px;") %> 
    </p>
  <% end %>

</div>
