<section class="vh-100" style="background-color: #E6BE8A;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
                <%= image_tag("perfum.jpg", alt: "perfume",class:"img-fluid", id: "card-image") %>      
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                  <%= image_tag("logo-white.png", alt: "logo", id: "card-logo") %>
                
                  <h5 class="fw-normal mb-3 pb-3" id="card-title">Sign into your account</h5>

                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "form2Example17", class: "form-control form-control-lg" %>
                    <%= f.label :email, class: "form-label", for: "form2Example17" %>
                  </div>

                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <%= f.password_field :password, autocomplete: "current-password", id: "form2Example27", class: "form-control form-control-lg" %>
                    <%= f.label :password, class: "form-label", for: "form2Example27"%>
                  </div>

                  <!-- Checkbox -->
                  <% if devise_mapping.rememberable? %>
                    <div class="form-check d-flex justify-content-center mb-4">
                      <%= f.check_box :remember_me, {:checked => "checked"}, class: "form-check-input me-", type:"checkbox", value:"", id:"form2Example33"%>
                      <%= f.label :remember_me, class: "form-check-label", for:"form2Example33" %>
                    </div>
                  <% end %>

                  <!-- Submit button -->
                  <div class="pt-1 mb-4">
                    <%= f.submit "Log in", type:"submit", class:"btn btn-dark btn-lg btn-block" %>
                  </div>

                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? 
                    <%= link_to "Register here", new_user_registration_path, method: :post , style: "color: grey;"%> 
                  </p>
                <% end %>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>