<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <%= wicked_pdf_stylesheet_link_tag 'application' %>
    <style>
      .invoice-table {
        width: 100%;
        border-collapse: collapse;
      }

      .invoice-table th,
      .invoice-table td {
        border: 1px solid black;
        padding: 8px;
      }

      .invoice-total {
        font-weight: bold;
      }

      .company-logo {
        max-width: 500px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mb-4">Invoice for order #<%= @order.id %></h1>
      <br><br><br>
      <div style="display:inline-block;">
        <p style="font-weight: bold;">BILL TO</p>
        <p>Street Address: <%= @order.user.billing_address.street_address %> </p>
        <p>City: <%= @order.user.billing_address.city %></p>
        <p>State: <%= @order.user.billing_address.state %></p>
        <p>Postal Code: <%= @order.user.billing_address.postal_code %></p>
        <p>Country: <%= @order.user.billing_address.country %></p>
      </div>
      <div style="display:inline-block; margin-left: 100px;">
        <p style="font-weight: bold;">SHIP TO</p>
        <p>Street Address: <%= @order.user.shipping_address.street_address %> </p>
        <p>City: <%= @order.user.shipping_address.city %></p>
        <p>State: <%= @order.user.shipping_address.state %></p>
        <p>Postal Code: <%= @order.user.shipping_address.postal_code %></p>
        <p>Country: <%= @order.user.shipping_address.country %></p>
      </div>
      <br><br><br>
      <table class="invoice-table" style="background-color: #FAFAD2">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <% @order.ordered_products.each do |ordered| %>
            <% product = ordered.product %>
            <tr>
              <td><%= product.name %></td>
              <td><%= ordered.quantity %></td>
              <td>€<%= product.price %></td>
              <td>€<%= ordered.total %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3" class="text-right invoice-total">Total:</td>
            <td class="invoice-total">€<%= @order.total %></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </body>
</html>