<div style="margin: 30px;">

    <%= render "filter_menu" %>

    <% @products.each do |product| %>
        <div class="card" style="float: left; width: 15rem; height:35rem; background-color: #FAFAD2; border-radius: 1rem; margin: 20px;">
            <%= image_tag product.image %>
            <div class="card-body">
                <h5 class="card-title", style="opacity: 0.8;"><%= product.brand %></h5>
                <h3 class="card-title"><%= product.name %></h3>
                <h6 class="card-title", style="opacity: 0.5;"><%= product.perfumetype %></h6>
            </div>
            <div style="display: flex; margin: 15px;">
                <h3><%= product.quantity %> ml</h3>
                <h3 style="margin-left: auto;"><%= product.price %>â‚¬</h3>
            </div>
            <div style="display: flex; margin: 10px;">
                <%= link_to 'Show', product, class: "btn btn-info btn-sm", style: "margin:0px 10px 20px 10px; border-radius: 1rem;  width: 75%;"%>
                <% if current_user.wishlist_products.find_by(product_id: product.id) %> 
                    <%= form_with(url: wishlist_product_remove_path) do |f| %>
                        <%= f.hidden_field :id, value: product.id %>
                        <%= f.submit "â¤ï¸", style: "background-color: transparent; border-color: transparent; font-size: 25px; margin-top: -8px" %>
                    <% end %>
                <% else %>
                    <%= form_with(url: wishlist_product_add_path) do |f| %>
                        <%= f.hidden_field :id, value: product.id %>
                        <%= f.submit "ðŸ¤", style: "background-color: transparent; border-color: transparent; font-size: 25px; margin-top: -8px" %>
                    <% end %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>
