<div class="container mt-5">
  <h2 class="font-effect-shadow-multiple" id="new-product-title">Categories</h2>
  <%= link_to 'New Category', new_category_path, class: "btn btn-info btn-lg btn-block", style: "margin-bottom: 25px;" %>
  <br>
  <table class="table table-info table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.id %></td>
            <td><%= category.name %></td>
            <td><%= category.description %></td>
            <td>
              <%= link_to 'Show', category, class: "btn btn-primary btn-sm", style: "margin:2px;" %>  
              <%= link_to 'Edit', edit_category_path(category), class: "btn btn-success btn-sm", style: "margin:2px;" %> 
              <%= link_to 'Destroy', category, method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm", style: "margin:2px;" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
