<!-- _filter_menu.html.erb -->
<%= form_tag products_path, method: :get, class: 'form-inline', id: 'orders-form' do %>
  <div class="form-group mb-2">
    <%= label_tag :category_id, 'Filter by category:', class: 'golden-text' %>
    <%= select_tag :category_id, options_for_select(Category.all.pluck(:name, :id), params[:category_id]), {:prompt => 'All', :class => 'select-button'}%>
    
    <%= label_tag :brand, 'Filter by brand:', class: 'golden-text' %>
    <%= select_tag :brand, options_for_select(Product.distinct.pluck(:brand).sort, params[:brand]), {:prompt => 'All', :class => 'select-button'}%>

    <%= text_field_tag(:search, params[:search], class: 'select-button', style: "border-color: transparent; outline-style: solid; outline-color: #C09040; outline-width: thin;") %>

    <%= submit_tag 'Filter', class: 'btn btn-primary mb-2', class: 'gold-button' %>
  </div>

<% end %>